@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Roboto Mono", monospace;

}

.content,
.content * {
    box-sizing: content-box;
}


.drag-the-image,
.drag-the-image * {
    margin-bottom: 0px;
}

#header {
    display: flex;
    justify-content: center;
    background-color: rgb(109, 7, 7);
    color: white;
    padding: 2.1rem;
    font-family: "Marck Script", cursive;
    font-weight: 400;
    font-style: normal;
}

.content {
    background-color: rgb(250, 249, 246);
    padding-bottom: 4rem;
}

.title-content {
    display: flex;
    justify-content: center;
}

h2 {
    margin: 0.75rem;
}

.img-album img {
    max-width: 100%;
    height: auto;
}

.card-drop {
    display: flex;
    justify-content: center;
}

.album {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
    gap: 3.75rem;
    align-items: start;
}

.cards,
.favorites-drop {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(12.5rem, 1fr));

    justify-items: center;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.25rem;

}

.card,
.card-drop {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: grab;
}

.img-album {
    width: 12.5rem;

    height: 6.25rem;
    object-fit: cover;
    border-radius: 0.5rem;
}

.card-drop {
    border-radius: 0.5rem;
    background-color: #f7f7f7;
    height: 6.25rem;
    width: 12.5rem;
    text-align: center;
    color: #555;
}

.favorites-drop {
    background: #fffaf7;
    border-radius: 0.75rem;
    position: relative;
    box-shadow: inset 0 0 0.5rem rgba(0, 0, 0, 0.05);
}

.card-drop {
    background: #ffffff;
    border: 0.0625rem solid #d8bdbd;
    border-radius: 0.625rem;
    box-shadow: 0 0.125rem 0.3125rem rgba(0, 0, 0, 0.06);
    transition: all 0.2s ease;
}

.card-drop:hover {
    transform: scale(1.03);
    background-color: #fff4f4;
    box-shadow: 0 0.25rem 0.625rem rgba(0, 0, 0, 0.1);
}

.heart {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5vh;
    background-color: rgb(109, 7, 7);
    color: #ffffff;
}